# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [3]:
def vol(rad):
    return((4/3)*3.1415*(rad**3))

In [4]:
# Check
vol(2)

33.50933333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [17]:
def ran_check(num,low,high):
    if (low <= num <= high):
      print(num, "is in the range of", low, "and", high )
    else:
      print(f"{num} is NOT in the range of {low} and {high}")

In [9]:
# Check
ran_check(5,2,7)

5 is in the range of 2 and 7

In [13]:
# Check
ran_check(8,2,7)

8 is NOT in the range of 2 and 7

If you only wanted to return a boolean:

In [15]:
def ran_bool(num,low,high):
    if (low <= num <= high):
      return True
    else:
      return False

In [20]:
ran_bool(9,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [26]:
def up_low(s):
  up=0
  low=0
  for word in s:
    if word[0].isupper():
      up +=1 
    elif word[0].islower():
      low+=1
    else:
      pass
  print(f"Original String : {s}")
  print(f"No. of Upper case characters :{up}")
  print(f"No. of Lower case characters :{low}")

In [30]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :4
No. of Lower case characters :33

In [28]:
def up_low(s):
  d={'upper':0,'lower':0}
  for word in s:
    if word[0].isupper():
      d['upper']+=1 
    elif word[0].islower():
      d['lower']+=1
    else:
      pass
  print(f"Original String : {s}")
  print(f"No. of Upper case characters :{d['upper']}")
  print(f"No. of Lower case characters :{d['lower']}")

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [33]:
def unique_list(lst):
  return(list(set(lst)))

In [34]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [40]:
def unique_list(lst):
  x=[]
  for i in lst:
    if i not in x:
      x.append(i)
    else:
      pass
  return x

In [41]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [45]:
def multiply(numbers):
  mul=1
  for i in numbers:
    mul=mul*i
  return(mul)

In [46]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [55]:
def palindrome(s):
  s=s.replace(' ','')
  return (s.lower() == s[::-1].lower())

In [56]:
palindrome('helleh')

True

In [57]:
palindrome('nurses run')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not.**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [88]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
  str1=str1.replace(' ','')
  str1=set(str1.lower())
  alphaset=set(alphabet)
  print(str1)
  print(alphaset)
  return str1 == alphaset

In [89]:
ispangram("The quick brown fox jumps over the lazy dog")

{'u', 't', 'n', 'e', 'm', 'y', 'r', 'b', 'g', 'o', 'z', 'h', 's', 'j', 'l', 'w', 'a', 'p', 'k', 'f', 'i', 'v', 'x', 'c', 'q', 'd'}
{'u', 't', 'n', 'e', 'm', 'y', 'r', 'b', 'g', 'o', 'z', 'h', 's', 'j', 'l', 'w', 'a', 'p', 'k', 'f', 'i', 'v', 'x', 'c', 'q', 'd'}

True

In [90]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!